//- Homepage Markup
extends ./layouts/base

block append css
	style.
		/*
		* Base structure
		*/

		

block content
	nav.navbar.navbar-inverse.navbar-fixed-top
		.container-fluid
			.navbar-header
				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.navbar-collapse')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='#') Social Data Analysis
			.navbar-collapse.collapse
				ul.nav.navbar-nav.navbar-right
					li
						a(href='#') @BlinBlin
					//- li
					//- 	a(href='#') Settings
					//- li
					//- 	a(href='#') Profile
					//- li
					//- 	a(href='#') Help
	.container-fluid
		.row
			.col-sm-3.col-md-2.sidebar
				ul#nav-bar.nav.nav-sidebar
					li
						a() 
							| Brute-Force Clique Identification
							span.sr-only (current)
					li
						//a() Group-Based Community Detction
						a() Clique Percolation Method
					li
						a() Balanced Communities
					li
						a() Modular Communities
					li
						a() Community Evolution
					li
						a() Community Evaluation
				//- ul.nav.nav-sidebar
				//- 	li
				//- 		a(href='#') 
				//- 			| 关于
				//- 			span.sr-only (current)

			.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
				h3#title.page-header Please upload data file
				.row
					.col-md-5
						input#loadfile.file(type='file',data-preview-file-type='text')
					
					.col-md-4
						form.form-inline
							.form-group
								label(for='nodeCount') NodeCount：
								input#nodeCount(type='text',placeholder="input here").form-control
					.col-md-3
						a#btn-calc.btn.btn-info.disabled Calculate
				hr
				.row
					.col-xs-3
						.tabbable.tabs-left
							ul.nav.nav-tabs
								li.active
									a(href='#graph',data-toggle='tab') Graph
								li
									a(href='#data',data-toggle='tab') Text
					.col-xs-9
						.tab-content
							#graph.tab-pane.active.fade.in
								div#container
									img#loading-img(src='images/loading.gif',width='600px',height='400px')
									div#graph-container
							#data.tab-pane
								.container
									div#datacontain
				


				